<!DOCTYPE html>
<html>
  <head>
    <title>Torre Team Builder - Build your dream team from Torre.co</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'screen', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen bg-gray-800">
    <div id="app-root" class="h-full">
      <%= render 'shared/navbar' %>

      <%= yield %>
    </div>

    <%= Gon::Base.render_data %>
  </body>
</html>
